body{
    margin: 10;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.map {
    max-width: 390px;
    max-height: 390px;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 160px 160px 160px;
}

.img {
    width: 120px;
}

.item {
    text-align: center;
}

p#shopname {
    font-style: italic;
    font-weight: 700;
    margin: 0;
    padding-bottom: 5px;
}

.btn {
    display: inline-block;
    padding: 5px 20px;
    border: none;
    background: rgb(248,168,24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.btn:hover{
    background: lawngreen
}

.getorder-time{
    margin: 0;
    padding-bottom: 5px;
}

.comment{
    margin: 0;
    padding-bottom: 5px;
    minlength="4";
    maxlength="8";
    size="10";	
}

.container{
    max-width: 390px;
}

.select{
    width: 100%;
    padding: .25rem .25rem .25rem .25rem;
    margin-left: 10%;
    max-width: 200px;
    font-size: 12px;
    background: none;
    border-radius: 3px
}

.option {
    width: 100%;
    padding: .25rem .25rem .25rem .25rem;
    margin-left: 20%;
    max-width: 200px;
    font-size: 12px;
    background: none;
    border-radius: 3px;
}
