body{
    margin: 10;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.img {
    width: 320px;
    margin: 0px 5px -5px 5px;
}

.container{
    max-width: 300px;
}

select {
    width: 300px;
}

.seldiv {
    margin: 0px 5px 5px 5px;
}

input[type="text"] {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    width: 300px;
    height: 20px;
 }

 input[type="datetime-local"] {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    width: 300px;
    height: 20px;
 }

 p {
    margin: 0px 5px 5px 5px;
 }