body{
    margin: 10;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container{
    max-width: 300px;
}

select {
    width: 300px;
}

input {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    width: 300px;
 }

